
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Black+Ops+One&family=Cedarville+Cursive&family=Recursive:wght@800&display=swap');

*{
    margin: 0;
padding: 0;
box-sizing: border-box;
list-style-type:none;
scroll-behavior:smooth;
font-family: 'Josefin Sans', sans-serif;
}

.nav-link:hover{
    background-color: red;
    color: white !important;
    border-radius: 20px;
    
}








.sec4cont{
    border-bottom: 3px solid red;
}
.fa-brands{
    font-size: 30px;
}

.fa-brands:hover{
    background: red;
    border-radius: 30px;
    color: white;
}